@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.review-bg{
  background-image: url("/public/assets/image/review-bg.png");
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section-heading{
  @apply text-3xl font-bold text-secondary
}

.custom-shadow{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5)
}
body {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Default light theme styles */
body.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme styles */
body.dark {
  background-color: #1a202c; /* Dark background */
  color: #f7fafc; /* Light text color */
}